@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000300;

}

.bodoni {
	font-family: 'Bodoni Moda', serif;
}

.PT {
	font-family: 'PT Sans', sans-serif;
}

.LINK-HOVER:hover {
	cursor: pointer;
	color: #00df9a;
}